VITE_API_URL=https://aismarttravelplanner-production.up.railway.app/api
VITE_LEAFLET_MARKER_ICON_URL=https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png
VITE_LEAFLET_MARKER_ICON_RETINA_URL=https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon-2x.png
VITE_LEAFLET_MARKER_SHADOW_URL=https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png
VITE_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
